@page
@model RolesModel
@{
    ViewData["Title"] = "User Roles and Capabilities";
}

<h1 class="mb-3">@ViewData["Title"]</h1>

<h2 class="h4">Public</h2>

<p><em>Visitors</em> to this site who are not logged in can only do the following:</p>

<ul>
    <li>Search for and view basic info for all Permits, excluding caller info.</li>
    <li>Search for and view all info for Permits that have been closed, excluding caller info.</li>
</ul>

<h2 class="h4">User</h2>

<p>All active <em>Users</em> with work accounts who are logged into the application can:</p>

<ul>
    <li>
        Search for and view all info for all Permits and Permit Actions, excluding deleted Permits
        and Actions.
    </li>
    <li>Search for and view Permit Users.</li>
    <li>View the lists of maintenance items.</li>
    <li>View the list of roles and capabilities.</li>
    <li>Edit account info for themselves, including changing assigned Office.</li>
</ul>

<p>
    Note: Users who still have current work accounts can be marked "Inactive" by a user account administrator. Inactive
    users are not able to sign in to the application.
</p>

<h2 class="h4" id="swgw-roles">SWGW Roles</h2>

<p><em>Users</em> can be granted one or more of the following roles.</p>

<h3 class="h5">Staff</h3>

<p>Users in the <em>Staff</em> role can:</p>

<ul>
    <li>Create new Permit and either assign them to Users within the same Office or to the Assignor of another Office.</li>
    <li>Edit Permits assigned to them.</li>
    <li>Edit Permits they entered into the SWGW for one hour after time of entry (whether assigned to them or not).</li>
    <li>Add/edit Permit Actions for Permits assigned to them.</li>
    <li>Delete/restore Permit Actions for Permits assigned to them.</li>
    <li>Transfer (reassign) their Permits to other Users within the same Office or to the Assignor of another Office.</li>
    <li>Add/delete Attachments for open Permits assigned to them.</li>
    <li>View SWGW status reports.</li>
</ul>

<h3 class="h5">Program Manager</h3>

<p>Users in the <em>Program Manager</em> role have all the capabilities of the <em>Staff</em> role. Plus they can:</p>

<ul>
    <li><b>Can review all data for surface water and groundwater but not manipulate the data.</b></li>
</ul>

<h3 class="h5">Unit Manager</h3>

<p>Users in the <em>Unit Manager</em> role have all the capabilities of the <em>Staff</em> role. Plus they can:</p>

<ul>
    <li><b>Can have an admin role to be able to add/remove users and have access to all database data (both surface water and groundwater). Unit Manager will be able to manipulate data, create tables from data, as well as view data.</b></li>
</ul>

<h3 class="h5">Engineer</h3>

<p>Users in the <em>Engineer</em> role have all the below capabilities:</p>

<ul>
    <li><b>Receives applications and conducts reviews of surface water applications. Can develops permits for systems based on applications submitted. Engineer should have access to all surface water data within the database and should only be able to view groundwater data.</b></li>
</ul>


<h3 class="h5">Geologist</h3>

<p>Users in the <em>Geologist</em> role have all the below capabilities:</p>

<ul>
    <li><b>Receives applications and inputs compliance data into database. Geologist should be able to access all groundwater data but only view surface water data.</b></li>
</ul>


<h3 class="h5">User Account Admin</h3>

<p>Users in the <em>User Account Admin</em> role can:</p>

<ul>
    <li>Manage Application User accounts and assign roles.</li>
</ul>

<h3 class="h5">Super-User Account Admin</h3>

<p>Users in the <em>Super-User Account Admin</em> role can:</p>

<ul>
    <li>
        Manage SWGW User accounts and assign all roles (<strong>including</strong> the <em>Unit Manager and Program Manager</em> role).
    </li>
</ul>

<h3 class="h5">Site Maintenance</h3>

<p>Users in the <em>Site Maintenance</em> role can:</p>

<ul>
    <li>Edit the lookup tables used for drop-down lists.</li>
</ul>
